/* ポップアップウインドウの設定 */
.pu {
    background-color: #efefef;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, .8);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 60%;
    height: 70%;
    overflow-y: scroll;
  }
  /* チェックボックスの初期設定 */
  #pu-on{
    display: none;
  }
  /* チェックされたらポップアップウインドウを開く */
  #pu-on:checked + .pu{
    display: block;
  }
  
  /* 閉じるアイコン（右上） */
  .icon-close{
    background: #000;
    color: #fff;
    font-size: 30px;
    padding: 0 10px;
    position: absolute;
    right: 0;
  }
  
  /* 開くボタン */
  .btn-open{
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    text-align: center;
  }
  
  /* ポップアップの内容 */
  .pu-content{
    margin: 40px auto 40px auto;
    width: 90%;
  }